0) Import pandas

In [1]:
import pandas as pd

1) Recall common built-in data structures

In [ ]:
my_list = ['Whole Foods', 'Walmart', 'Target']
my_list.append('Star')
print(my_list)
print(my_list[-1])
my_list.remove('Star')
print(my_list)

In [ ]:
# DataFrames can be created from lists. In this case a list becomes a column of the DataFrame 
df = pd.DataFrame(my_list)
print(df)

In [ ]:
#A tuple is a collection which is ordered and unchangeable. Items are indexed
my_tuple = ('Whole Foods', 'Wallmart', 'Target')
my_tuple[1:3] # we can access by index or slice
# but we can't do my_tuple.append('Star') or my_tuple.remove('Amazon')

In [ ]:
# DataFrames can be also created from tuples.
df = pd.DataFrame(my_tuple)
print(df)

In [ ]:
# A dictionary is ordered, changeable and does not allow duplicates. Dictionaries store data in key:value pairs.
my_dict = {'Retail': ['Whole Foods', 'Walmart', 'Target'],
           'Shipping': ['UPS', 'FedEx', 'DHL']}

print(my_dict)

In [ ]:
# DataFrames can be created from a dictionary. In this case  keys become column names.
df = pd.DataFrame(my_dict)
print(df)

2) Loading and exporting data

In [ ]:
#loading .csv file
data = pd.read_csv('stores.csv')
print(data)

In [ ]:
#loading .xlsx file
df = pd.read_excel('stores.xlsx')
#index column can be specified index_col='Sales'
print(df)

3) Inspecting data

In [ ]:
# display the first n rows 
n = 5 
print(df.head(n))

In [ ]:
# display the last n rows 
n = 3
print(df.tail(n))

In [ ]:
# randomly sample n observations 
n = 7
print(df.sample(n))

In [ ]:
# get dimensions of df (number of rows and columns)
print(df.shape) #we get a tuple
n, m = df.shape
print('Number of rows: ', n)
print('Number of columns: ', m)

In [ ]:
# retrieve general info about df
print(df.info())

4) Combining multiple files

In [ ]:
#row concat
frames = [df, data]
data_concat = pd.concat(frames, axis=0)
print(data_concat.info())

In [ ]:
df1 = df[['Name', 'Address']]
df2 = df[['Sales', 'Number_emp']]
print(df1.head())
print(df2.head())
column_concat = pd.concat([df1, df2], axis=1)
print(column_concat.head())

5) Writing data to a file

In [24]:
column_concat.to_excel('new_file.xlsx')
column_concat.to_csv('new_file.csv')

6) Accessing rows and columns

In [ ]:
df['Address']

In [ ]:
column_names = ['Name','Address', 'Sales']
new_df = df[column_names]
print(new_df.head())

In [ ]:
#retrieving the 5th row
print(df.iloc[4])
#retrieving rows from 3rd to 7th
print(df.iloc[2:7]) 
#retrieving the 3rd row and 2nd column
print(df.iloc[2, 1])
#rewriting the value
df.iloc[2, 1] = 'Hello world!'
print(df.iloc[2, 1])

In [ ]:
#displaying first 5 rows one by one 
for i in range(5):
  print(i, ': ', df.iloc[i].values)

7) Filtering data

In [ ]:
(df['Sales'] > 2000).sum()
high_sales = df[df['Sales'] > 2000]
print(high_sales.head())
big_company = df[(df['Sales'] > 5000) & (df['Number_emp'] > 150)]
big_company.reset_index(inplace=True) 
print(big_company)

In [ ]:
names = ['MARKET BASKET', 'PRICE CHOPPER']
new_df = df[df['Name'].isin(names)]
print(new_df.head())

8) Adding and deleting new columns

In [ ]:
#add a new column
df['Sales_per_employee'] = df['Sales'] / df['Number_emp']
print(df)

In [ ]:
#delete a column
del df['Empsiz']
print(df.info())

In [ ]:
#delete multiple columns 
to_delete = ['State', 'State_name', 'Zip']
new_df = df.drop(columns=to_delete)
print(new_df.info())

9) Sorting values

In [ ]:
#ascending by default 
sorted_df = df.sort_values('Sales')
print(sorted_df)

In [ ]:
#descending order
sorted_df = df.sort_values('Sales', ascending=False)
print(sorted_df['Sales'])

In [ ]:
# sort values using list of columns 
sorted_df = df.sort_values(['Sales', 'Sales_per_employee'], ascending=[False, False])
print(sorted_df.head())

10) Data cleaning

In [ ]:
#data frame description
#nemeric data
print(df['Sales'].describe())

In [ ]:
#categorical data 
print(df['City'].describe())

In [ ]:
#get an array of all unique values 
print(df['City'].unique())

In [ ]:
#check the data types
print(df.dtypes)

In [ ]:
#change the dtype 
print(df['Sales'].astype('Float64'))

In [ ]:
#obtaining and displaying column names 
col_names = df.columns
def print_col_names(names):
  print('There are {} columns'.format(len(names)))
  for i in range(len(names)):
    print(i+1, ' ', names[i])
print_col_names(col_names)

In [ ]:
#renaming a column
df.rename(columns={'Number_emp': 'N employees'}, inplace=True)
print(df.columns)

In [ ]:
#what values are missing? 
print(df.isna().sum())
#print(df.notna().sum())

In [ ]:
#delete rows with missing data 
new_df = df.dropna(axis=0, inplace=False)
print(new_df.isna().sum())

In [ ]:
#delete a column with missing data 
new_df = df.dropna(axis=1, inplace=False)
print(new_df.isna().sum())

In [ ]:
#replace missing values
df['Address'].fillna('No address', inplace=True)
print(df.isna().sum())

#replace missing values with the average
average_sales = round(df['Sales'].mean(), 2)
df['Sales'].fillna(average_sales, inplace=True)

In [137]:
# Replacing values
print(df['State'].unique())
df['State'].replace('MA', "Massachusetts", inplace=True)
df['State'].unique()

['Massachusetts']

array(['Massachusetts'], dtype=object)

In [ ]:
#Check for duplicates
print(df.duplicated().sum())

11) Basic descriptive statistics

In [ ]:
df['Sales'].describe()
print('Average sales are: ', df['Sales'].mean())
avg = df['Sales'].mean()
df['Average_sales'] = avg
print(df.head())